<h2>Listing categories</h2>

<%= link "Tasks", to: task_path(@conn, :index) %>


<table class="table">
  <thead>
    <tr>
      <th>Id</th>

      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for category <- @categories do %>
    <tr>
      <td><%= category.id %></td>

      <td><%= category.name %></td>

      <td class="text-right">
        <%= link "Show", to: category_path(@conn, :show, category), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: category_path(@conn, :edit, category), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: category_path(@conn, :delete, category), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New category_controller.ex", to: category_path(@conn, :new) %>
