<h2>Show category</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @category.name %>
  </li>

</ul>

<%= link "Edit", to: category_path(@conn, :edit, @category) %>
<br/>
<%= link "Back", to: category_path(@conn, :index) %>
