<h2>Edit task</h2>

<%= render "form.html", changeset: @changeset,categories: @categories,
                        action: task_path(@conn, :update, @task) %>

<%= link "Back", to: task_path(@conn, :index) %>
