<h2>Listing tasks</h2>

<%= link "Categories", to: category_path(@conn, :index) %>


<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for task <- @tasks do %>
    <tr>
      <td><%= task.description %></td>
      <td><%= @categories[task.category_id] %></td>

      <td class="text-right">
        <%= link "Show", to: task_path(@conn, :show, task), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: task_path(@conn, :edit, task), class: "btn btn-default btn-xs" %>
        <%= link "Done", to: task_path(@conn, :delete, task), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
        <%= link "Cancel", to: task_path(@conn, :cancel, task), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New task_controller.ex", to: task_path(@conn, :new) %>


<h3>Task statistics</h3>

<table class="table">
  <thead>
    <tr>
      <th>Done</th>
      <th>Canceled</th>
      <th>Total</th>
    </tr>
  </thead>
  <%= for c <- @counter do %>
  <tbody>
    <tr>
      <td><%= c.done %></td>
      <td><%= c.canceled %></td>
      <td><%= c.total %></td>
    </tr>
    <% end %>
  </tbody>
</table>

