<h2>New task</h2>

<%= render "form.html", changeset: @changeset, categories: @categories,
                        action: task_path(@conn, :create) %>

<%= link "Back", to: task_path(@conn, :index) %>
