<h2>Show task</h2>

<ul>

  <li>
    <strong>Description:</strong>
    <%= @task.description %>
  </li>

  <li>
    <strong>Category:</strong>
    <%= @task.category_id %>
  </li>
  <li>
    <strong>Cat name:</strong>
    <%= @categories[@task.category_id] %>
  </li>

</ul>

<%= link "Edit", to: task_path(@conn, :edit, @task) %>
<br/>
<%= link "Back", to: task_path(@conn, :index) %>
